* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	margin: 0 auto;
	padding: 0;
	height: 100%;
	max-width: 450px;

}
.header{
	border-bottom: 3px solid #9D9D9D;
}
h1, h3 {
	font-weight: 700;	
}
p {
	line-height: 1.5;
}

#container {
	max-width: 450px;
	margin: 0 auto;
	overflow: hidden;
}

label {
	font-size: 14px;
	display: block;
	position: relative;
}
label + label {
	margin-top: 18px;
}

input[type='text']:-webkit-autofill,
input[type='text']:-webkit-autofill:hover, 
input[type='text']:-webkit-autofill:focus,
input[type='email']:-webkit-autofill,
input[type='email']:-webkit-autofill:hover, 
input[type='email']:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select {
	background-color: #fff;
	border: solid 1px #ddd;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	border-radius: 4px;
	padding: 10px 6px;
	width: 100%;
	display: block;
	font-size: 16px;
	line-height: 1;
	margin-top: 6px;
	color: #000;
	transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out
}

select {
    height:41px;
    line-height:41px;
    border-radius: 0;
}

/* Buttons */
input[type='submit'] {
	background: #000;
	color: #fff;
	font-size: 30px;
	display: inline-block;
	margin-top: 28px;
}
.step1{
	float: left;
	width:33.33%;
}
.button{
	width: 150px;
	height: 50px;
	color: #ffffff;
	background: #000000;
	text-align: center;
	font-size: 30px;
	border-radius: 2px;
	/*margin: 0 auto;*/
}
.linked{
	text-decoration: none;
	color:#ffffff;
	padding-top: 5px;
}
.form{
	width:33.33%;
	float: left;
	margin: 0 auto;	transition: left 0.2s ease-out, transform 0.2s ease-out;
	will-change: left, transform;
}
.form .inputs{
	margin: 0;
	width: 60%;
	height: 30px;
	border-radius: 5px;
}
.form h3{
	margin: 0;
}
.after-login{
	float: left;
	width: 33.33%;
}
.login{
	color:#ffffff;
}
.final{
	text-decoration: none;
	color:#ffffff;
}
.transition{
width: 316%;
overflow: hidden;
transition: transform 0.2s ease-out;
}
.transition.step2 {
	transform: translateX(-33.3333333%);
}
.transition.step3 {
	transform: translateX(-66.6666%);
}
.errors{
	display:none;
	color:red;
}
.errorshowing{
	display: block;
}